<div id="form-popup">
    <form id="form-container">
        <h1>New Product</h1>
        <label for="id"> </label>
        <input id="id" type="number" placeholder="ID" name="id">
        <label for="name"> </label>
        <input id="name" type="text" placeholder="Name" name="name">
        <label for="category"></label>
        <input id="category" type="text" placeholder="Category" name="category">
        <label for="subcategory"></label>
        <input id="subcategory" type="text" placeholder="Subcategory" name="subcategory">
        <label for="price"></label>
        <input id="price" type="number" min="0" step="0.01" placeholder="Price" name="price">
        <label for="cost"></label>
        <input id="cost" type="number" min="0" step="0.01" placeholder="Cost" name="cost">
        <button class="btn" id="save-product" type="submit">Save</button>
        <button id="cancel-btn" type="button">Close</button>
    </form>
</div>